services:
  jekyll:
    image: jekyll/jekyll:4
    command: bash -c "bundle install && bundle exec jekyll serve --host 0.0.0.0 --livereload --drafts"
    ports:
      - "4000:4000"
      - "35729:35729"
    volumes:
      - .:/srv/jekyll
      - bundle_cache:/usr/local/bundle
    environment:
      - JEKYLL_ENV=development

volumes:
  bundle_cache:
